---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="トップページ" bodyClass="p-top">
  <link rel="stylesheet" href="/assets/css/pages/top/style.css" slot="addCSS" />
  <main>
    <section class="p-top-hero">
      <div class="p-top-hero__container">
        <h1 class="p-top-hero__title">トップページ</h1>
      </div>
    </section>
  </main>
</BaseLayout>
