<?php
/**
 * Template Name: {{PAGE_NAME}}
 *
 * @package Theme
 */

get_header();
?>

<main class="l-main">
{{#SECTIONS}}
  <?php get_template_part('template-parts/{{SLUG}}/{{SECTION}}'); ?>
{{/SECTIONS}}
</main>

<?php get_footer(); ?>
