<?php
/**
 * Template Name: {{PAGE_NAME}}
 *
 * @package Theme
 */

get_header();
?>

<main class="l-main">
{{#SECTIONS}}
  <section class="p-{{SLUG}}-{{SECTION}}">
    <div class="p-{{SLUG}}-{{SECTION}}__container">
      <h2 class="p-{{SLUG}}-{{SECTION}}__title">{{SECTION_TITLE}}</h2>
      <!-- TODO: コンテンツを追加 -->
    </div>
  </section>

{{/SECTIONS}}
</main>

<?php get_footer(); ?>
