@use "../../../../foundation/function" as *;
@use "../../../../foundation/mixins/responsive" as *;
@use "../../../../foundation/mixins/block" as *;

// {{SECTION_TITLE}} Section
.p-{{SLUG}}-{{SECTION}} {
  &__container {
    @include container();
  }

  &__title {
    // TODO: タイトルスタイル

    @include sp {
      // SP スタイル
    }
  }

  // TODO: 追加のエレメントスタイル
}
