<?php
/**
 * {{SECTION_TITLE}} Section
 *
 * @package Theme
 */
?>

<section class="p-{{SLUG}}-{{SECTION}}">
  <div class="p-{{SLUG}}-{{SECTION}}__container">
    <h2 class="p-{{SLUG}}-{{SECTION}}__title">{{SECTION_TITLE}}</h2>
    <!-- TODO: コンテンツを追加 -->
  </div>
</section>
