@use "../../../foundation/function" as *;
@use "../../../foundation/mixins/responsive" as *;

.c-{{NAME}} {
{{#ELEMENTS}}
  &__{{ELEMENT_NAME}} {
    // TODO: スタイルを追加
{{#RESPONSIVE}}

    @include sp {
      // SP スタイル
    }
{{/RESPONSIVE}}
  }

{{/ELEMENTS}}
{{#MODIFIERS}}
  &--{{MODIFIER_NAME}} {
    // TODO: モディファイアスタイル
  }

{{/MODIFIERS}}
}
